<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code paste</title>
    <meta content="Text and code sharing tool" name="description">
    <link rel="icon" href={{ asset('assets/images/save.svg') }} type="image/x-icon"/>
    {# LINK ASSETS #}
    {{ encore_entry_link_tags('scrollbar-css') }}
    {{ encore_entry_link_tags('code-paste-css') }}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
