<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
	<link rel="icon" href={{ asset('assets/images/favicon.png') }} type="image/x-icon"/>
    {{ encore_entry_link_tags('scrollbar-css') }}
    {{ encore_entry_link_tags('error-page-css') }}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
