/* main paste save and view page style */
* {
    background-color: #282c34;
}

textarea {
    resize: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 97%;
    width: 100%;
    padding: 10px;
    color: #abb2bf;
    border: none !important;
    outline: none !important;
    font-size: 16px !important;
    background-color: #282c34;
    font-family: monospace !important;
}

.icon {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.icon img {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

#copy-button {
    position: fixed;
    z-index: 1;
    top: 5px;
    right: 5px;
    float: right;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(55, 55, 255);
    background-color: rgb(74, 74, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#copy-button:hover {
    cursor: pointer;
    background-color: rgb(59, 59, 255);
}

code {
    position: absolute;
}

#content {
    z-index: 2;
    margin-top: -25px;
    margin-left: -5px;
    margin-right: 5px;
}

.hljs {
    padding: .5em;
    display: block;
    overflow-x: auto;
    color: #abb2bf;
    background: #282c34
}

.hljs-comment, .hljs-quote {
    color: #5c6370;
    font-style: italic
}

.hljs-doctag, .hljs-formula, .hljs-keyword {
    color: #c678dd
}

.hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst {
    color: #e06c75
}

.hljs-literal {
    color: #56b6c2
}

.hljs-addition, .hljs-attribute, .hljs-meta-string, .hljs-regexp, .hljs-string {
    color: #98c379
}

.hljs-built_in, .hljs-class .hljs-title {
    color: #e6c07b
}

.hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #d19a66
}

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title {
    color: #61aeee
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.hljs-link {
    text-decoration: underline
}
