body {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #282c34;
}

.error-page-msg {
    position: absolute;
    color: white;
    opacity: 0.9;
    font-size: 28px;
    left: 50%;
    top: 35%;
    width: 95%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Maven Pro', sans-serif;
    user-select: none;
    font-weight: bold;
}

@media screen and (max-width: 800px) { 
    .error-page-msg {
        font-size: 18px;
        width: 80%;
    }
}
