{% extends 'common/base.twig' %}

{# PASTE CONTENT VIEW #}
{% block body %}
    {# LOAD SYNTAX HIGHLIGHTER #}
    {{ encore_entry_script_tags('code-paste-js') }}

    <div style="position: relative;">
        <button id="copy-button">Copy</button>

        <code>
            <pre id="content">
                <code>{{ paste|raw }}</code>
            </pre>
        </code>
    </div>

    <script>
        document.getElementById('copy-button').addEventListener('click', function() {
            var content = document.getElementById('content').innerText;
            navigator.clipboard.writeText(content).then(function() {
                console.log('Copied to clipboard!');
            }).catch(function(error) {
                console.log('Copy failed: ' + error);
            });
        });
    </script>
{% endblock %}
