{% extends 'common/base.twig' %}

{# PASTE CONTENT VIEW COMPONENT #}
{% block body %}
    {# LOAD SYNTAX HIGHLIGHTER #}
    {{ encore_entry_script_tags('code-paste-js') }}

    <div style="position: relative;">
        {# BUTTONS #}
        <div style="position: fixed; top: 5px; right: 5px; z-index: 1;">
            <button id="copy-button">Copy</button>
            <button id="raw-button">Show Raw</button>
        </div>

        {# PASTE CONTENT #}
        <code>
            <pre id="content">
                <code>{{ paste|raw }}</code>
            </pre>
        </code>
    </div>
{% endblock %}
